<!-- <div *ngFor="let item of obj | async " >

{{item.id}}
  
</div> -->

<div *ngFor="let item of array;trackBy:trackByIDs">
   trackBy: {{item.id}}
</div>

<button (click)="add()">Add</button>
master class
<form [formGroup]="form">
    <input type ="text"  formControlName="email"/>
    <input type ="text"  formControlName="password"/>
</form>
<button (click)="login()">Login</button>

<div>
    <h1>barevner</h1>
</div>

<span>
    <h2>hajoxner</h2>
    <h2>gna</h2>
    <h2>hech</h2>
    <h2>ari</h2>
</span>
